.popup__close-button {
  position: absolute;
  top: -50px;
  right: -50px;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .popup__close-button {
    width: 38px;
    height: 38px;
    top: -52px;
    right: 0;
  }
}